.experience-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    margin-left: 40px;
    
  }
  
  .experience-section h2 {
    font-size: 50px;
    font-weight: bold;
    align-items: flex-start;

    font-family: 'DM Serif Display', serif;
    margin-bottom: 3rem;
    color: #5268FF;
  }
  
  .experience-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    padding: 20px;
    background-color: #f7f9fc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .experience-item h3 {
    font-size: 2.5vw;
    font-weight: bold;
    font-family: 'DM Serif Display', serif;
    color: #2c2c2c;
  }
  
  .experience-item p {
    font-size: 1.3vw;
    font-family: 'Roboto', sans-serif;
    color: #555;
    margin: 5px 0;
  }
  
  .experience-item .duration {
    font-size: 1.1vw;
    font-weight: bold;
    color: #888;
  }
  
  .experience-item ul {
    margin-top: 1rem;
    padding-left: 2rem;
    list-style-type: disc;
  }
  
  .experience-item ul li {
    font-size: 1.2vw;
    color: #555;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    line-height: 1.6;
  }
  
